* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* header and banner styles start here */

.header-container {
  display: flex;
  gap: 30px;
  background-color: #E5E5E5;
}
.banner-container {
  padding-top: 150px;
  text-align: center;
  padding-right: 70px;
}
.banner-title {
  font-size: 2rem;
  font-weight: 800;
  color: #151414;
  margin-bottom: 24px;
}
.banner-description {
  color: #444343;
  margin-bottom: 30px;
}
.banner-container .banner-btn {
  padding: 15px 30px;
  font-weight: 600;
  background-color: #F15B22;
  color: white;
  border-radius: 5px;
  border: none;
}

/* header banner styles end here */

/* my failures styles start here */

.my-failures {
  display: flex;
  padding: 130px 180px;
}
.failures-container {
  padding-top: 230px;
  padding-left: 70px;
}
.failures-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #151414;
}
.failures-description {
  color: #444343;
  line-height: 25px;
  margin-bottom: 16px;
}
.failures-options {
  color: #444343;
  line-height: 26px;
}
/* my failures styles ends here */

/* my plans styles start here */

.main-plan-container {
  padding: 0 150px;
  text-align: center;
}
.main-plan-title {
  font-size: 2rem;
  font-weight: 700;
  color: #151414;
  margin-bottom: 40px;
}
.my-plan-container {
  display: flex;
  gap: 90px;
  text-align: center;
}
.plan-title {
  margin-top: 22px;
  font-size: 30px;
  font-weight: 700;
  color: #151414;
  margin-bottom: 13px;
}
.plan-description {
  font-size: 20px;
  color: #737272;
}

/* my plans styles end here */

/* hand watch styles starts here */

.hand-watch-container {
  padding: 130px 140px;
}
.hand-watch {
  background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../../my-first-assignment/images/watch.png');
  background-repeat: no-repeat;
  height: 40vh;
  border-radius: 8px;
  position: relative;
}
.hand-watch .watch-text-title {
  font-size: 2rem;
  padding-top: 60px;
  padding-left: 50px;
  position: absolute;
  color: white;
}
.hand-watch .watch-btn {
  position: absolute;
  margin-top: 130px;
  margin-left: 50px;
  padding: 15px 35px;
  border-radius: 5px;
  font-size: 20px;
  color: #F15B22;
  border: none;
}
/* hand watch styles ends here */

/* resume styles start here */

.resume-content {
  padding: 0px 130px;
  display: flex;
  gap: 24px;
}
.resume-section-title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  margin-bottom: 50px;
}
.resume-title {
  font-weight: 700;
  font-size: 27px;
  color: black;
  margin-bottom: 30px;
}
.resume .title {
  font-weight: 700;
  font-size: 22px;
  color: #474747;
}
.resume .sub-title {
  font-weight: 600;
  font-size: 18px;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 20px;
}
.resume .description {
  color: #757575;
}
.hr-style {
  width: 555px;
  border: 1px solid #D1D1D1;
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume-btn {
  text-align: center;
  margin-top: 50px;
}
.resume-btn-primary {
  height: 64px;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 18px 36px;
  color: #FFFFFF;
  background: #FD6E0A;
}
/* resume styles ends here */
